.wordspins {
    /* display: block; */
    /* transform: translateY(-20%); */
    color: black;
    animation : spin_words 7s  infinite  ;

}

@keyframes spin_words {
   
    0%{
        transform: translateY(100%);
    }
    25%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-100%);
    }
    75%{
        transform:  translateY(-200%);
    }
    100%{ 
        transform:  translateY(-300%);
    }


}

.fizz{
    animation: fizz 3s ease-in-out infinite;
}
@keyframes fizz {
    0%{
        bottom: 10%;
        /* opacity: 0; */
        /* opacity: 1; */
        
    }
    100%{
        /* opacity: 0; */
        bottom:100%;
       
    }
}
.rotate{
    animation: rotate 3s ease-in infinite;
}
@keyframes rotate {
    0%{
        bottom: 10%;
    }
    100%{
        bottom:100%;
        transform: rotate(360deg);
    }
}

.one-time{
    animation: oneTime 2s  ease-in forwards;
}
@keyframes oneTime {
    0%{
        /* bottom: 10%; */
    }
    100%{
        bottom:100%;
        transform: rotate(360deg);
    }
}