.snap-outer{
    scroll-snap-type: y mandatory;
    overflow: auto;
}
.snap-container{
    scroll-snap-align: start;
    scroll-snap-stop:always;
}

.singleService:first-child{
    margin-top: 1rem;
}