.snap-outer{
    scroll-snap-type: y mandatory;
    overflow: auto;
}
.snap-container{
    scroll-snap-align: start;
    scroll-snap-stop:always;
}

@media only screen and (min-width: 769px) {
    .singleService:first-child{
        margin-top: 40%;
    }
    
  }